// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style
.logo-bio {
    display: inline-block;
    text-align: left;
    font-style: italic;
}