// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style
.logo-bio {
    display: inline-block;
    text-align: left;
    font-style: italic;
}

.search {
    color: $black;
}

.search-result {
    margin-left: 0px;
    padding-left: 10px;

    a {
        &:hover {
            color: $theme-color;
        }
    }
}

#jimmy-say {
    color: $global-font-color;
    background-color: rgba(#ff7526, 0.3);
    transition: 0.5s;
    border-left: 0px;

    &:hover {
        box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.4);
        transform: translate(-5px, -5px);
    }
}

.search {
    position: relative;
    width: 100%;
    float: left;
}

.search-bar {
    display: inline;
    width: 80%;
    height: 100%;
    font-size: 20px;
    border: 3px solid #3d1101;
    background-color: #efe9e7;
    margin-right: 0px;
    padding-right: 0px;
}

.search-btn {
    display: inline;
    width: 10%;
    height: 100%;
    background-color: #3d1101;
    border: 3px solid #3d1101;
}

.search-result {
    display: inline-block;
}