// ==============================
// Logo
// =============================

.logo-wrapper {
  float: left;

  .logo {
    color: $deputy-color;
    font-size: $logo-font-size;
    font-family: $logo-font-family;
  }
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}